@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply text-white;
    }

    .bg-img {
        background-image: url("/bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@layer utilities {
    .title-shadow {
        text-shadow: 4px 4px 0px #807F7F;
    }

    .item-shadow {
        filter: drop-shadow(2px 2px 0px #807F7F);
    }
}
