@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply text-white;
    }

    .bg-img {
        background-image: url("/bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .underscore {
        animation: cursor-blink 1.5s steps(1) infinite;
    }
}

@layer utilities {
    .title-shadow {
        text-shadow: 4px 4px 0px #807F7F;
    }

    .item-shadow {
        filter: drop-shadow(2px 2px 0px #807F7F);
    }

}

@layer components {
    .link:active {
        filter: none;
        transition: all;
        transition-timing-function: cubic-bezier();
        transition-duration: 150ms;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1
    }
}